<style>
 .printshow{display:none;}
</style>
<section class="content-header">
  <h1>
    Assign
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Assign</li>
  </ol>
</section>

<section class="content">
  <div class="row">
        <div class="col-xs-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Add Assign</h3>
        </div>
        <!-- /.box-header -->
          <div class="box-body">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label>Assign No.</label>
                        <input type="text" id="am_invoice_no" class="form-control" ng-model="assign.am_invoice_no" readonly="readonly"/>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Date & Time</label>
                        <input type="text" class="form-control" id="am_date" ng-model="assign.am_date" readonly="readonly"/>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Employee Name</label>
                        <input type="text"
                            id="am_emp_id"
                            ng-model="assign.am_emp_id"
                            typeahead="obj as obj.emp_search for obj in getSearchEmp($viewValue)"
                            typeahead-loading="loadingEmpList"
                            typeahead-no-results="noEmpListResults"
                            class="form-control">
                        <i ng-show="loadingEmpList" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noEmpListResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                  </div>

                  <div class="col-lg-12">
                      <label class="form-control" align="center">Nozzle Details</label>
                    </div>
                  <div class="col-lg-12">
                    <div class="col-lg-2">
                      <div class="form-group">
                          <label>Nozzle</label>
                          <input type="text"
                              id="nm_id"
                              ng-model="nozzleObj"
                              typeahead="obj as obj.nm_name for obj in getSearchNoz($viewValue)"
                              typeahead-loading="loadingNozList"
                              typeahead-no-results="noNozListResults"
                              typeahead-on-select="setNozzleData()"
                              class="form-control">
                          <i ng-show="loadingNozList" class="glyphicon glyphicon-refresh"></i>
                          <div ng-show="nonozListResults">
                              <i class="glyphicon glyphicon-remove"></i> No Results Found
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Product</label>
                            <label class="form-control">{{nozzleObj.pm_name}}</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Rate</label>
                            <label class="form-control">{{nozzleObj.anm_rate}}</label>
                            <!-- <input type="number" id="anm_rate" ng-model="nozzleObj.anm_rate" class="form-control"/> -->
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Opening Bal.</label>
                            <input type="number" id="anm_opening_bal" ng-model="nozzleObj.anm_opening_bal" class="form-control"/>
                        </div>
                    </div>
                    <!-- <div class="col-lg-2">
                        <div class="form-group">
                            <label>Total</label>
                            <label class="form-control">{{nozzleObj.anm_rate * nozzleObj.anm_opening_bal | number:3}}</label>
                        </div>
                    </div> -->
                    <div class="col-lg-1">
                        <div class="form-group"><br>
                            <button  class="btn btn-success" type="button" id="btnNozAddCart" ng-click="addNozToCart();"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</button>
                          </div>
                    </div>
                  </div>

                  <div class="col-lg-12 table-responsive">
        <table class="table table-bordered">
            <thead>
              <tr> 
                  <th>Sr.No.</th>
                  <th>Nozzle</th>
                  <th>Product</th>
                  <th>Rate</th>
                  <th>Opening Bal.</th>
                  <th class="action">Action</th>
              </tr>
            </thead>
            <tbody id="contentNozzle">
              <tr ng-repeat="data in selectedNozzleList track by $index">
                <td style="padding: 4px; font-size:10pt;">{{$index+1}}</td>
                <td style="padding: 4px; font-size:10pt;">{{data.nm_name}}</td>
                <td style="padding: 4px; font-size:10pt;">{{data.pm_name}}</td>
                <td style="padding: 4px; font-size:10pt;">{{data.anm_rate}}</td>
                <td style="padding: 4px; font-size:10pt;">
                    <span class="printshow">
                      {{data.anm_opening_bal}}
                    </span>
                    <span class="print-hide">
                      <input type="number" class="form-control" ng-model="data.anm_opening_bal"/>
                    </span>
                </td>
                <td style="padding:4px 8px 4px 8px;" class="action"><button  class="btn btn-danger" type="submit" id="btnAddItemLine" ng-click="removeNozItem($index)"><i class="fa fa-minus-square" aria-hidden="true"></i></button></td>
              </tr>
            </tbody>
                  </table>
              </div>
                

                  <div class="col-lg-12">
                      <label class="form-control" align="center">Product Details</label>
                    </div>
          				<div class="col-lg-12">
                    <div class="col-lg-2">
                      <div class="form-group">
                          <label>Product</label>
                          <input type="text"
                              id="pm_id"
                              ng-model="productObj"
                              typeahead="obj as obj.pm_search for obj in getSearchProd($viewValue)"
                              typeahead-loading="loadingProdList"
                              typeahead-no-results="noProdListResults"
                              typeahead-on-select="setProductData()"
                              class="form-control">
                          <i ng-show="loadingProdList" class="glyphicon glyphicon-refresh"></i>
                          <div ng-show="noProdListResults">
                              <i class="glyphicon glyphicon-remove"></i> No Results Found
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>QTY</label>
                            <input type="number" id="pm_qty" ng-model="productObj.pm_qty" class="form-control"/>
                        </div>
                    </div>
					          <div class="col-lg-2">
                        <div class="form-group">
                            <label>Unit</label>
                            <label class="form-control">{{productObj.pm_unit}}</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Price</label>
                            <label class="form-control">{{productObj.pm_sell_price}}</label>
                        </div>
                    </div>
                    <!-- <div class="col-lg-2">
                        <div class="form-group">
                            <label>Total</label>
                            <label class="form-control">{{productObj.pm_qty * productObj.pm_sell_price | number:3}}</label>
                        </div>
                    </div> -->
					          <div class="col-lg-1">
                        <div class="form-group"><br>
                            <button  class="btn btn-success" type="button" id="btnAddCart" ng-click="addToCart();"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</button>
                          </div>
					          </div>
                  </div>
          
      <div class="col-lg-12 table-responsive">
        <table class="table table-bordered">
            <thead>
              <tr> 
                  <th>Sr.No.</th>
                  <th>Product</th>
                  <th>Qty</th>
                  <th>Unit</th>
                  <th>Price</th>
                  <th class="action">Action</th>
              </tr>
						</thead>
						<tbody id="content">
							<tr ng-repeat="data in selectedProductList track by $index">
								<td style="padding: 4px; font-size:10pt;">{{$index+1}}</td>
								<td style="padding: 4px; font-size:10pt;">{{data.pm_name}}</td>
                <td style="padding: 4px; font-size:10pt;">
                    <span class="printshow">
                      {{data.pm_qty}}
                    </span>
                    <span class="print-hide">
                      <input type="number" class="form-control" ng-model="data.pm_qty"  ng-change="calculateTotal()"/>
                    </span>
                </td>
                <td style="padding: 4px; font-size:10pt;">{{data.pm_unit}}</td>
                <td style="padding: 4px; font-size:10pt;">{{data.pm_sell_price}}</td>
								<td style="padding:4px 8px 4px 8px;" class="action"><button  class="btn btn-danger" type="submit" id="btnAddItemLine" ng-click="removeItem($index)"><i class="fa fa-minus-square" aria-hidden="true"></i></button></td>
							</tr>
						</tbody>
	                </table>
	            </div>
	            <!-- <div class="col-lg-12">
          <div class="col-sm-2 col-sm-offset-8"><label>Total Amount </label></div>
          <div class="col-sm-2"><label class="form-control">{{assign.totalamount | number:3}}</label></div>

					
				</div> -->
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="button" class="btn btn-danger" onclick="window.location = '#/assign'" id="btncancel">Back</button>
            <button type="submit" class="btn btn-success pull-right" id="btnsave" ng-click="saveAssign()">Save</button>
          </div>
      </div>
      <!-- /.box -->
      </div>
    </div>
</section>