<section class="content-header">
  <h1>
    Ledger Entry
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Ledger Entry</li>
  </ol>
</section>

<section class="content">
  <div class="row">
        <div class="col-xs-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">New Ledger Entry</h3>
        </div>
        <!-- /.box-header -->
          <div class="box-body">
                
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Date & Time</label>
                        <input type="text" class="form-control" id="blm_date" ng-model="ledger.blm_date" readonly="readonly"/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Bank</label>
                        <input type="text"
                              id="bkm_id"
                              ng-model="ledger.blm_bkm_id"
                              typeahead="obj as obj.bkm_search for obj in getSearchBkm($viewValue)"
                              typeahead-loading="loadingVenList"
                              typeahead-no-results="noVenListResults"
                              class="form-control">
                          <i ng-show="loadingVenList" class="glyphicon glyphicon-refresh"></i>
                          <div ng-show="noVenListResults">
                              <i class="glyphicon glyphicon-remove"></i> No Results Found
                          </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Debit/Credit</label>
                        <select class="form-control" id="blm_dr_cr" ng-model="ledger.blm_dr_cr">
                            <option value="" >Select Debit/Credit</option>
                            <option >Debit</option>
                            <option >Credit</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Payment Mode</label>
                        <input type="text"
                              id="pmm_id"
                              ng-model="ledger.blm_pmm_id"
                              typeahead="obj as obj.pmm_name for obj in getSearchPay($viewValue)"
                              typeahead-loading="loadingPayList"
                              typeahead-no-results="noPayListResults"
                              class="form-control">
                          <i ng-show="loadingPayList" class="glyphicon glyphicon-refresh"></i>
                          <div ng-show="noPayListResults">
                              <i class="glyphicon glyphicon-remove"></i> No Results Found
                          </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Amount</label>
                        <input type="number" id="blm_amount" class="form-control" ng-model="ledger.blm_amount" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Comment</label>
                        <input type="text" id="blm_comment" class="form-control" ng-model="ledger.blm_comment" placeholder="Remark"/>
                    </div>
                </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="button" class="btn btn-danger" onclick="window.location = '#/ledger'" id="btncancel">Back</button>
            <button type="submit" class="btn btn-success pull-right" id="btnsave" ng-click="addLedger()">Save</button>
          </div>
      </div>
      <!-- /.box -->
      </div>
    </div>
</section>